<!-- session_example/templates/session_example/secondPage.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Page</title>
</head>
<body>
    <h1>Received Details</h1>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Roll:</strong> {{ roll }}</p>
    <p><strong>Subject:</strong> {{ subject }}</p>
    
    <br><br>
    <a href="{% url 'session_example:first_page' %}"><button>Go Back to First Page</button></a>
</body>
</html>
