body{
    background-color: aliceblue;
}

.question{
    border: 2px solid #000;
    background-color: lightblue;
}

button {
    margin-right: 75px;
    margin-top: 8%;
    padding: 10px 20px;
    background-color: #4f98c2;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #4f98c2;
    background-color: white;
    border: 1 px solid #4f98c2;
}